@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #DEDEDE;
}

#main-page-nav {
    transition:0.2s;
}

#main-page-brand {
    font-size: 20px;
}

.navbar {
    border-radius: 0px 0px 15px 15px;
    background-color: #E9EEF2;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    transition: ease 0.25s;
}

.navbar-brand:hover {
    color: #313638!important;
    font-size:22px;
}

.navbar-brand img {
    height: 52px;
}

/* Sidebar */
#sidebarMenu {
    transition:0.6s;
    background-color: #4A8DB7;
    position: fixed;
    top: 0;
    left: 0;
    padding: 78px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 25%;
    z-index: 99;
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#sidebarMenu > #add-api-box {
    background-color: #629cc0;
}

.list-group-item {
    color: #DEDEDE !important;
    background-color: #4A8DB7 !important;
}

.list-group {
    margin-bottom: 3rem!important;
}

.list-header {
    font-size: 20px;
    color: #ffffff !important;
}

#sidebarMenu .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
    
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 232px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#sidebarMenu img {
    max-height:58px;
}

#left-bar-slider {
    transition: 0.6s;
    display: none;
    padding-top:45vh;
    margin:0;
    position:fixed;
    z-index:100;
}

.sidebarimg {
    text-align:center;
}

#add-api-box {
    width: 100%;
    position: absolute;
    top: calc(100vh - 89px);
    z-index: 100;
}

#add-api {
    background-color: #E9EEF2;
    transition: ease 0.15s; 
}

#add-api:hover {
    background: #E9EEF2;
    box-shadow: 0px 0px 0px #cdd1d5,
                0px 0px 0px #ffffff,
                inset 6px 6px 11px #cbcfd3,
                inset -6px -6px 11px #ffffff;
}

.form-btn {
    text-decoration: none !important;
    color: #E9EEF2 !important;
    border-radius: 15px !important;
    background-color: #4A8DB7 !important;
    box-shadow:
        4px 4px 4px hsl(0deg 0% 0% / 0.075),
        -4px -4px 4px hsla(0, 0%, 100%, 0.42)
    ;
}

.form-btn:hover {
    text-decoration: none !important;
    color: #E9EEF2 !important;
    border-radius: 15px !important;
    background-color: #4A8DB7 !important;
    box-shadow: 0px 0px 0px hsl(0deg 0% 0% / 0.075),
                0px 0px 0px hsla(0, 0%, 100%, 0.42),
                inset 6px 6px 12px #407b9f,
                inset -6px -6px 12px #549fcf;
    ;
}

.navbar-btn {
    text-decoration: none !important;
    color: #3B7197 !important;
    border-radius: 15px !important;
    box-shadow:
        4px 4px 4px hsl(0deg 0% 0% / 0.075),
        -4px -4px 4px hsla(0, 0%, 100%, 0.42)
    ;
}

.navbar-btn-2 {
    text-decoration: none !important;
    color: #3B7197 !important;
    border-radius: 15px !important;
    box-shadow:
        4px 4px 4px hsl(0deg 0% 0% / 0.055),
        -4px -4px 4px hsla(0, 0%, 100%, 0.12)
    ;
    transition: ease 1.5s;
}

[type=reset]:hover {
    box-shadow: 0px 0px 0px #cdd1d5,
                0px 0px 0px #ffffff,
                inset 5px 5px 15px #cfd4d7,
                inset -5px -5px 15px #ffffff;  
}


/*
.result-display {
    padding: 2px;
    background-color: grey;
    border-radius: 100%;
}
*/

#home {
    background: #E9EEF2;
    box-shadow:  7px 7px 14px #cdd1d5,
                -7px -7px 14px #ffffff;
    transition: ease 0.15s;  
}

#home:hover {
    background: #E9EEF2;
    box-shadow: 0px 0px 0px #cdd1d5,
                0px 0px 0px #ffffff,
                inset 5px 5px 15px #cfd4d7,
                inset -5px -5px 15px #ffffff;   
}


#get-started {
    color: #E9EEF2 !important;
    background-color: #3B7197;
    box-shadow: 4px 4px 4px hsla(200, 42%, 35%, 0.40),
                -4px -4px 4px hsla(0, 0%, 100%, 0.22)
    ;
    transition: ease 0.15s;  
}

#get-started:hover {
    background-color: #3B7197;
    box-shadow: 0px 0px 0px hsla(200, 42%, 35%, 0.40),
                0px 0px 0px hsla(0, 0%, 100%, 0.22),
                inset 6px 6px 11px #2c5470,
                inset -6px -6px 11px #4a8ebe;
    ;
}

main {
    padding-top: 78px;
    background-color: #DEDEDE;
}

.content {
    background-color: #DEDEDE;
    position:absolute;
    left:25%;
    width:75%;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#main-page-content {
    background: rgb(120,166,192);
    background: linear-gradient(180deg, rgba(120,166,192,1) 0%, rgba(120,166,200,1) 100vh, rgba(233,238,242,1) 150vh);
    position:absolute;
    width:100%;
}

#main-page-content .row {
    width:100%;
}

#main-page-content .col-4 > p, #main-page-content .col-8 > p, #main-page-content .col-8 > ul > li {
    text-align: justify;
    padding: 0.53em 1.66em;
}

#main-page-content .col-4 > h3, #main-page-content .col-8 > h3, #main-page-content .col-12 > h3 {
    text-align: center;
}

#main-page-content .col-12 > p:not(#slogan){
    padding: 0px 20% 0px 20%
}

#main-page-content .col-8 > ul {
    padding: 0px 10% 0px 10%
}

.img_fluid {
    max-width: 100%;
    height: auto;
}

.options {
    text-align:center;
	padding: 4px;
	border-radius: 3px;
	position: relative;
    display:block;
}

.options a {
    text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 20px 28px;
	color: #4A8DB7;
	font-size: 20px;
	transition: all 100ms linear;
    border: 10px;
    box-shadow: inset 0 -3px 0 #cccccc;
    display:inline-block;
}

.options .active {
	color: #075384;
    box-shadow: inset 0 -3px 0 #3B7197;
}

.options a:hover:not(.active) {
    box-shadow: inset 0 -3px 0 #4A80D0;
}

.options #settings {
    color: #313638;
    box-shadow: none;
    font-size: 15px;
}

.options #back {
    color: #313638;
    box-shadow: none;
    font-size: 15px;
}

.options #settings:hover {
    color: black;
    font-size: 17px;
}

.options #back:hover {
    color: black;
    font-size: 17px;
}

form {
    padding: 20px 100px;
}

.form-group .row{
    margin-top:45px;
    margin-bottom:45px;
}

#text-area {
    border-radius: 15px;
}
  
.count {
    position: absolute;
    display:inline-flex;
    right:100px;
    font-size:1vw;
  }

.count div {
    display:inline-flex;
}

.count div:last-child {
    margin-left:16px;
}

.count div p {
    margin-left:8px;
}
    .checkbox{
    display: block;
    }
    .checkbox input[type=checkbox]{
    margin: 0;
    visibility: hidden;
    left: 1px;
    top: 1px;
    }
    .checkbox label{
    font-size: 20px;
    line-height: 26px;
    padding-left: 35px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s ease 0s;
    }
    .checkbox label:before,
    .checkbox label:after{
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all 0.25s;
    }
    .checkbox label:after{
    height: 10px;
    width: 16px;
    border-radius: 0 0 0 4px;
    border: 5px solid #fff;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
    top: 15px;
    left: 6px;
    }
    .checkbox input[type=checkbox]:checked+label{ font-weight: 600; }
    .checkbox input[type=checkbox]:checked+label:before{
    opacity: 0;
    top: -10px;
    }
    .checkbox input[type=checkbox]:checked+label:after{
    opacity: 1;
    top: 6px;
    }
    @media only screen and (max-width:767px){
    .checkbox{ margin: 0 0 20px; }
    }

:root {
	--s: 4s;      /*speed*/
	--d: 0;      /*delay*/
	--c: #3B60AD; /*color*/
    --m: 1.2 /*multiplier*/
}

#sphere-container {
    height: calc(100vh - 78px);
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1000vmin;
    z-index:2000;
    position:sticky;
    margin-bottom:175px;
}

.sphere {
    margin-top:175px;
    transform-style: preserve-3d;
	width: calc(var(--m )*335px);
	height: calc(var(--m )*335px);
	background: #ffF0;
	position: absolute;
	animation: spin 5s linear 0s infinite;
	animation-play-state: running;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: none;

}

.sphere:hover {
	cursor: default;
}

@keyframes spin {
	0% { transform: rotateX(-210deg) rotateY(0deg) rotatez(185deg); }
	100% { transform: rotateX(-210deg) rotateY(360deg) rotatez(185deg); }
}

.sphere div {
	--sz: 27.5%;
	--dv: calc(var(--s) / var(--d));
	--dl: calc(var(--dv) * -1);
	width: var(--sz);
	height: var(--sz);
	position: absolute;
	border: 0.5vmin solid var(--c);
	border-radius: 100%;
	transform: rotateX(90deg) translateZ(calc(var(--m )*164.15px));
	box-shadow: 
		0 0 0.5vmin 0.5vmin var(--c), 
		0 0 0.5vmin 0.5vmin var(--c) inset;
	animation: shine var(--s) linear var(--dl) infinite reverse;
	background: #fff0;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes shine {
	33%, 100% {
		border-color: #10101000;
		box-shadow: 0 0 1px 1px #10101000, 0 0 1px 1px #10101000 inset;
	}
}

.sphere div:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border: 0.25vmin solid var(--c);
	border-radius: 100%;

	animation: shine var(--s) linear calc(var(--dl) * -1) infinite reverse;
}

.sphere div:nth-child(2) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*150.75px));
	--sz: 43%;
	--dl: calc(var(--dv) * -2);
	filter: hue-rotate(-2deg);
}

.sphere div:nth-child(3) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*134px));
	--sz: 60%;
	--dl: calc(var(--dv) * -3);
	filter: hue-rotate(-4deg);
}

.sphere div:nth-child(4) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*117.25px));
	--sz: 71%;
	--dl: calc(var(--dv) * -4);
	filter: hue-rotate(-6deg);
}

.sphere div:nth-child(5) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*100.5px));
	--sz: 80%;
	--dl: calc(var(--dv) * -5);
	filter: hue-rotate(-8deg);
}

.sphere div:nth-child(6) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*83.75px));
	--sz: 86%;
	--dl: calc(var(--dv) * -6);
	filter: hue-rotate(-10deg);
}

.sphere div:nth-child(7) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*67px));
	--sz: 91%;
	--dl: calc(var(--dv) * -7);
	filter: hue-rotate(-12deg);
}

.sphere div:nth-child(8) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*50.25px));
	--sz: 95%;
	--dl: calc(var(--dv) * -8);
	filter: hue-rotate(-14deg);
}

.sphere div:nth-child(9) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*33.5px));
	--sz: 97%;
	--dl: calc(var(--dv) * -9);
	filter: hue-rotate(-16deg);
}

.sphere div:nth-child(10) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*16.75px));
	--sz: 99%;
	--dl: calc(var(--dv) * -10);
	filter: hue-rotate(-18deg);
}

.sphere div:nth-child(11) {
	transform: rotateX(90deg);
	--sz: 100%;
	--dl: calc(var(--dv) * -11);
	filter: hue-rotate(-20deg);
}

.sphere div:nth-child(12) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-16.75px));
	--sz: 99%;
	--dl: calc(var(--dv) * -12);
	filter: hue-rotate(-22deg);
}

.sphere div:nth-child(13) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-33.5px));
	--sz: 97%;
	--dl: calc(var(--dv) * -13);
	filter: hue-rotate(-24deg);
}

.sphere div:nth-child(14) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-50.25px));
	--sz: 95%;
	--dl: calc(var(--dv) * -14);
	filter: hue-rotate(-26deg);
}

.sphere div:nth-child(15) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-67px));
	--sz: 91%;
	--dl: calc(var(--dv) * -15);
	filter: hue-rotate(-28deg);
}

.sphere div:nth-child(16) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-83.75px));
	--sz: 86%;
	--dl: calc(var(--dv) * -16);
	filter: hue-rotate(-30deg);
}

.sphere div:nth-child(17) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-100.5px));
	--sz: 80%;
	--dl: calc(var(--dv) * -17);
	filter: hue-rotate(-32deg);
}

.sphere div:nth-child(18) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-117.25px));
	--sz: 71%;
	--dl: calc(var(--dv) * -18);
	filter: hue-rotate(-34deg);
}

.sphere div:nth-child(19) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-134px));
	--sz: 60%;
	--dl: calc(var(--dv) * -19);
	filter: hue-rotate(-36deg);
}

.sphere div:nth-child(20) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-150.75px));
	--sz: 43%;
	--dl: calc(var(--dv) * -20);
	filter: hue-rotate(-38deg);
}

.sphere div:nth-child(21) {
	transform: rotateX(90deg) translateZ(calc(var(--m )*-164.15px));
	--sz: 23%;
	--dl: calc(var(--dv) * -21);
	filter: hue-rotate(-40deg);
}

#find-out-more {
    position:absolute;
    bottom:40px;
    right:40px;
    background-color: #E9EEF2;
    border-radius:100%;
    height:160px;
    width:160px;
    transition: ease 0.15s;
}

#find-out-more:hover {
    background: #E9EEF2;
    box-shadow: inset 14px 14px 28px #cfd4d7,
                inset -14px -14px 28px #ffffff;
}

#slogan {
    font-size: 30px;
    color: white;
    position:absolute;
    bottom:40px;
    left:40px;
    margin:0;
    padding-bottom:15px;
    width:250px;
    border-bottom: 5px dotted #dedede;
}


.card {
    margin: 0 2.5%;
    border-radius:15px !important;
}

.card-title strong a{
    text-decoration: none;
    color: #3B7197;
}

.content-box {
    border-width: 1px;
    border-color: #ced4da;
    border-radius: 15px;
    resize: vertical;
    background-color: #FFFFFF;
}

.display {
    overflow: auto;
    border-style: double;
    height: calc(100vh - 325px - 58px);
}

.display_info {
    display:unset!important;
}

.hidden {
    display: none;
}

.textbox-container {
    display: flex;
    align-items: center;
}

.add_button{
    margin-bottom: 8px;
    margin-top: 5px;
}

.el_textbox {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-x: hidden; 
    white-space: pre-wrap;
    scrollbar-width: none; 
}

.el_textbox::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

.content-box .row{
    background-color: #FFFFFF;
    margin: 0;
    width: 100%;
}

.content-box .row:not(:last-child){
    border-bottom: solid #ced4da;
    border-width: 1px;
}


.content-box .row .col-4 {
    padding:0;
}

.content-box .row .col-8 {
    padding:0;
    border-left: solid #ced4da;
    border-width: 1px;
}

.content-box .row .col-3 {
    padding:0;
}

.content-box .row .col-9 {
    padding:0;
    border-left: solid #ced4da;
    border-width: 1px;
}

.content-box:has(.row .col-9:focus)  {
    border-color: #3B7197;
    box-shadow: 0px 0px 2px 5px rgba(79,151,202,0.5);
    border-radius:15px;
}

.col-12[contenteditable] {
    outline: 0px solid transparent;
}

.content-box:has(.row .col-12:focus)  {
    border-color: #3B7197;
    box-shadow: 0px 0px 2px 5px rgba(79,151,202,0.5);
    border-radius:15px;
}

.results-box {
    border-width: 1px;
    border-color: #ced4da;
    border-radius: 15px;
    resize: vertical;
    background-color: #FFFFFF;
}

.results-box .row{
    background-color: #FFFFFF;
    margin: 0;
    width: 100%;
}

.results-box .row:not(:last-child){
    border-bottom: solid #ced4da;
    border-width: 1px;
}


.results-box .row .col-3 {
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
}

.results-box .row .col-9 {
    padding:0;
    border-left: solid #ced4da;
    border-width: 1px;
    padding-top:10px;
    padding-bottom:10px;
}

.results-box:has(.row .col-9:focus)  {
    border-color: #3B7197;
    box-shadow: 0px 0px 2px 5px rgba(79,151,202,0.5);
    border-radius:15px;
}

.results-box:has(.row .col-12:focus)  {
    border-color: #3B7197;
    box-shadow: 0px 0px 2px 5px rgba(79,151,202,0.5);
    border-radius:15px;
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 100000000000000000;
  }
  
  #loading-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

/* Compiled CSS from Bootstrap 4's responsive embeds */
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden
}
.embed-responsive::before {
    display: block;
    content: ""
}
.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}
.embed-responsive-21by4::before {
    padding-top: 19.0476%
}
.embed-responsive-21by9::before {
    padding-top: 42.85714%
}
.embed-responsive-21by9::before {
    padding-top: 42.85714%
}
.embed-responsive-16by9::before {
    padding-top: 56.25%
}
.embed-responsive-4by3::before {
    padding-top: 75%
}
.embed-responsive-1by1::before {
    padding-top: 100%
}

.hoverable .flagged, .hoverable .potential_flag, .hoverable .unflagged {
    padding-top: 12px;
    padding-bottom: 12px;
}

.hoverable:has(.flagged, .flagged, .unflagged):not(:last-child) .potential_flag, .hoverable:has(.flagged, .potential_flag, .unflagged):not(:last-child) .potential_flag, .hoverable:has(.flagged, .potential_flag, .unflagged):not(:last-child) .unflagged{
    border-bottom: solid #ced4da;
    border-width: 1px;
}

.flagged {
    color: #D2411A;
}

.potential_flag {
    color: #E5801A;
}

.unflagged {
    color: #A3D23C;
}

.results_text {
    font-size: 13px;
    text-align: justify;
}

.hover_box {
    cursor: none;
    position: absolute;
    z-index: 100000;
    background-color: white;
    padding: 5px;
    border: solid #ced4da;
    border-width: 1px;
    border-radius: 10px;
}

.arrow, .arrow:before{
  position: absolute;
  left: 50%;
}
.arrow {
    z-index: 100000;
  width: 30px;
  height: 30px;
  top: 80vh;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #386a8a solid;
  border-bottom: 2px #386a8a solid;
}
  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #386a8a solid;
  border-bottom: 1px #386a8a solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

/* Responsiveness */
@media only screen and (max-width: 991.5px) {
    #sphere-container {
        z-index: 200 !important;
    }
    .sphere {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 767.5px) {
    .content {
        left:0;
        width:100%;
    }
    #sidebarMenu {
        width: 0;
    }
    #left-bar-slider {
        display: inline-block;
    }
    #sidebarMenu img {
        max-height: 58px;
    }
    .sidebarimg {
        text-align: right;
    }
    #add-api {
        display: none;
    }
    .form-control.api-search {
        display: none;
    }
    .sphere {
        margin-top: 70px;
    }
}

.form-control.api-search {
    border: 1px solid #ced4da;
    border-radius: 30px;
    padding: 10px 30px;
    margin: 10px 10px;
    width: calc(100% - 20px);
}

#api-search-box {
    background-color: #4A8DB7;
}

/* Animations */
.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.fade-in-bck{-webkit-animation:fade-in-bck .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bck 0.9s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}


.fade-in-bck-simple{-webkit-animation:fade-in-bck-simple .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bck-simple 0.5s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-bck-simple{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck-simple{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.fade-in-bck-load{-webkit-animation:fade-in-bck-load .2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bck-load .2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-bck-load{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes fade-in-bck-load{0%{-webkit-transform:translateZ(80px);transform:translateZ(80px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}

.fade-out-bck-load{-webkit-animation:fade-out-bck-load .7s cubic-bezier(.25,.46,.45,.94) both;animation:fade-out-bck-load .7s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes fade-out-bck-load{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}@keyframes fade-out-bck-load{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}